* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: auto;
  background-color: rgb(56, 11, 57);
}
.container1 {
  width: 80%;
  height: 4rem;
  margin:0 auto;
  display: flex;
  gap:1rem;
  justify-content: space-between;
  padding: 1rem 0;
}
.c1 {
  width: 80%;
}
input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 10px;
}
.c2 {
  width: 20%;
}
.c2 > img {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  cursor: pointer;
}
.weather {
  display: none;
  min-height:100vh;
}

/* container 2 */
.container2 {
  padding: 2rem 0;
  text-align: center;
  color: #fff;
}
.container2 h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
}
/* container 3 */

.container3 {
  display: flex;
  margin: 60px 40px;
  justify-content: space-between;
}
.container3-1 {
  display: grid;
}
.current-weather-image {
  width: 100px;
  height: 100px;
}
.current-weather {
  margin: 10px auto;
  color: #fff;
  font-size: 2rem;
}
.container3-2 {
  color: #fff;
  font-size: 1.3rem;
  margin: auto 10px;
}
.container3-3 {
  display: grid;
  color: #fff;
  justify-content: left;
  word-wrap: wrap;
}
p {
  text-align: center;
}
.wind {
  font-size: 1rem;
}
.pressure {
  font-size: 1rem;
}
.humidity {
  font-size: 1rem;
}

/* container 4 */
.container4 {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  color: #fff;
}
.card {
  display: block;
  min-height: 100px;
}
.day {
  display:flex;
  justify-content: center;
}
.dm{
 display: block;
 height: 80px;
 width: 80px;
}
.week-day,
.day-temp {
  text-align: center;
  padding: 0.5rem 0;
}
@media screen and (max-width: 700px) {
  .container2 h2 {
    font-size: 2rem;
  }
  .container3 {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .container3-1 {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .current-weather-image {
    height: 80px;
    width: 80px;
    margin: 0 auto;
  }
  .container3-2 {
    font-size: 1rem;
    margin: 10px auto;
    text-align: center;
  }
  .container3-3 {
    align-items: center;
    justify-content: center;
    margin: 10px auto;
  }
  p {
    text-align: center;
    margin: 5px auto;
  }

}
